/* body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/017/546/152/non_2x/chatgpt-ai-artificial-intelligence-technology-hitech-concept-chat-gpt-with-smart-bot-open-ai-line-lights-technology-abstract-design-for-chat-web-banner-background-transformation-vector.jpg');
} */
.nb{
    padding-top: 15px;
}
.hed{
    color: aliceblue;
}

/* div .a{
    
    
} */